/.bloop/
/.idea/
/.metals/
/.vscode/
/_site/
/target/
/project/.bloop/
/project/project/
/project/target/
project/metals.sbt
/core/target/
/sbtPlugin/target/
.bsp/
yarn.lock
.idea/
.metals/
/client/target/
/client/build/
/shared/.js/
/shared/.jvm/
/server/target/
/demo/project/target/
/demo/target/
/demo/demo.iml
/node_modules/
/test.json
/client2/.bloop/
/client2/.bsp/
/client2/.metals/
/client2/project/.bloop/
/client2/project/project/
/client2/project/metals.sbt
/client2/.vscode/
/client2/node_modules/

/client2/project/target/
/client2/target/
