/.bloop/
/.idea/
/.metals/
/.vscode/
/_site/
/target/
/project/.bloop/
/project/project/
/project/target/
project/metals.sbt
/core/target/
/sbtPlugin/target/
.bsp/
yarn.lock
.idea/
.metals/
/client/target/
/client/build/
/shared/.js/
/shared/.jvm/
/server/target/
/demo/project/target/
/demo/target/
/demo/demo.iml
/node_modules/
/test.json
/client/.bloop/
/client/.bsp/
/client/.metals/
/client/project_bak/.bloop/
/client/project_bak/project/
/client/project_bak/metals.sbt
/client/.vscode/
/client/node_modules/

/client/project_bak/target/
/client/target/
/client/dist/
