.configs-container > div {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.config-item {
  display: flex;
  align-items: center;
}

.config-tag {
  margin: 10px;
  white-space: normal !important;
  max-width: 100%;
  word-break: break-all;
}

.config-form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}
.config-form.icon {
  color: rgba(0,0,0,.25);
}

.config-path-select {
  width: 100%;
}

.ERROR-cell {
  background-color: #fad9d9;
}
.WARN-cell {
  background-color: #faf2df;
}
